<footer class="footer-distributed">

    <div class="footer-left">
      <img src=""> <!-- add logo -->
      <h3>About<span>OneDayDecorating</span></h3>

      <p class="footer-links">
        <a href="#">Home</a>
        |
        <a href="#">Before&After</a>
        |
        <a href="#">Testimonials</a>
        |
        <a href="#">Contact</a>
      </p>

      <p class="footer-company-name">© 2019 OneDayDecorating Pvt. Ltd.</p>
    </div>

    <div class="footer-center">
      <div>
        <a href="https://www.google.com/maps/place/Lake+Eola+Park,+512+E+Washington+St,+Orlando,+FL+32801,+USA/@28.5438382,-81.375257,17z/data=!4m2!3m1!1s0x88e77ae3534d78bb:0xf736e2fdf7081dd3" target="_blank"><i class="fa fa-map-marker"></i></a>
        <a href="https://www.google.com/maps/place/Lake+Eola+Park,+512+E+Washington+St,+Orlando,+FL+32801,+USA/@28.5438382,-81.375257,17z/data=!4m2!3m1!1s0x88e77ae3534d78bb:0xf736e2fdf7081dd3" target="_blank"><p><span>Huntington</span>
      New York, 11743</p></a>
    </div>
    <!-- <div>
      <i class="fa fa-phone"></i>
      <p>number</p>
    </div> -->
    <div>
      <a href="mailto:mailto:KristenStern65@yahoo.com" target="_blank"><i class="fa fa-envelope"></i></a>
      <p><a href="mailto:mailto:KristenStern65@yahoo.com" target="_blank">email</a></p>
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-company-about">
      <span>One Day Decorating</span>
  </p>
  </div>
</footer>
