<div class="navbar navbar-scroll navbar-expand-sm navbar-dark navbar-lewagon fixed-top d-flex">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#top">Home</a>
      </li> -->
      <%= link_to root_path, class:"main-nav-link" do %>
        <li class="nav-item">
            <p class="link-p">Home</p>
        </li>
      <% end %>
      <%= link_to before_after_path, class:"main-nav-link" do %>
        <li class="nav-item">
            <p class="link-p">Before & After</p>
        </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <!-- SOCIAL MEDIA LINKS -->
      <!-- <div class="nav-icons"> -->
        <!-- <a href="https://www.instagram.com/marchforourplanet/" target="_blank"><i class="fab fa-instagram"></i></a> -->
        <!-- <a href="https://www.facebook.com/March-For-Our-Planet-101889681193585/" target="_blank"><i class="fab fa-facebook"></i></a> -->
      <!-- </div> -->
  </div>
</div>
