<div class="scroll-img">
     <!-- <h1>Text on parralax background</h1> -->
</div>
<div class="scroll-img2">
  <!-- <h1>2nd text testing</h1> -->
</div>
<div class="scroll-img3">
  <!-- <h1>2nd text testing</h1> -->
</div>
