<div class="container">
  <div class="row slideanim">

    <div class="testimonial-text col-6 col-lg-12">
      <div class="card testimonial-card p-3 m-2">
        <h3 class="testimonial-title">Fantastic</h3>
        <p class="testimonial-p">The staging looks AMAZING! Thank you so much for the great work. We listed on Tuesday and got an offer on Saturday! What a big relief. Thank you again–I know you and Randy made this happen for us!</p>
      </div>
    </div>

    <div class="testimonial-text col-6 col-lg-12">
      <div class="card testimonial-card p-3 m-2">
        <h3 class="testimonial-title">Could not be happier!</h3>
        <p class="testimonial-p">Wow, it was great doing business with you! My only regret is that I didn’t hire you sooner to stage our home in Oak Brook. You were so responsive and pleasant to work with.</p>
      </div>
    </div>

    <div class="testimonial-text col-6 col-lg-12">
      <div class="card testimonial-card p-3 m-2">
        <h3 class="testimonial-title">Speachless</h3>
        <p class="testimonial-p">One of the more remarkable transformations I’ve seen in a house–to see what you’ve done with that family room just outstanding! You sold the clients on what you were doing–it’s fantastic! Thanks again, you did a super job!</p>
      </div>
    </div>

    <div class="testimonial-text col-6 col-lg-12">
      <div class="card testimonial-card p-3 m-2">
        <h3 class="testimonial-title">Sold in one week</h3>
        <p class="testimonial-p">We are very happy to have sold and know that it was all due to your staging. We can’t thank you enough! I know that I will definitely be using you again in the future and will suggest you to anyone who is having trouble selling. Thank you again!</p>
      </div>
    </div>

  </div>
</div>
