

.contact-container {
  margin: 20px auto;
}

label {
  color: #64C7CC;
}

.btn-primary {
  background-color: #64C7CC !important;
}

input.form-control:focus {
  color: white;
  background-color: #383737;
}

input.form-control {
  color: white;
  background-color: #383737;
  border: 1px solid #64C7CC;
}

textarea.form-control {
  color: white;
  background-color: #383737;
  border: 1px solid #64C7CC;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #393939;
  // background-color: #45a049;
}

/* Add a background color and some padding around the form */
.contact-container {
  width: 70% !important;
  border-radius: 5px;
   background-color: #393939;
  // background-color: #d1d1d1;
  padding: 20px;
}

.btn-primary {
  background-color: #64C7CC;
}
